<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.zack.music">

<!--    <uses-sdk
        tools:overrideLibrary="android.support.v7.appcompat,
        android.support.v4,
        android.support.compat,
        android.support.mediacompat,
        android.support.coreutils,
        android.support.coreui,
        android.support.fragment,
        android.support.graphics.drawable,
        android.support.design,
        android.support.v7.recyclerview" />-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<data android:mimeType="audio/*"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            </intent-filter>
        </activity>
        <activity
            android:name=".SetupActivity"
            android:theme="@style/TransparentTheme"
            android:parentActivityName=".MainActivity"
            android:label="设置">

        </activity>

        <service
            android:name=".PlayService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>